!!!5
html.page
  
  head
    title 
      if locals.title
         = locals.title + " | "
      | Pain Free Yoga
  
  body(class=locals.bodyClass)
    
    header
      div Pain Free Yoga
      nav
        a.pushstate(href="/") home
        a.pushstate(href="/classes") classes

    section#content-section
      block contentSection
    
    footer footer

    script(data-main="/public/js/client", src="/public/js/lib/require-jquery.js")
    script(type="text/javascript")
      (function(data){

        console.log('hey');

      
      })(!{ JSON.stringify() });